//
   Created by iope on 9/15/2015.
extends layout
block content
   div(class="container")
      form(class="form-signin" method="post" action="/signin")
         h2(class="form-signin-heading") Please sign in
         span Or
          a(href="/signup") &nbsp; Create an account
         include ./common/messages.jade
         label(for="username" class="sr-only") Email address
         input(type="email" id="username"  name="username" class="form-control" placeholder="Email address" required autofocus)
         label(for="password" class="sr-only") Password
         input(type="password" id="password" name="password" class="form-control" placeholder="Password" required)
         button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in
